img {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;

}

.mid {
    text-align: center;
}

.homelink {
    display: inline-block;
}

.homelink-box {
    text-align: center;
}

a {
    color: black;
}